.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;

  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  cursor: pointer;
}
.product:hover {
  transform: scale(1.02);
  box-shadow: rgba(36, 34, 34, 0.705) 4px 4px 4px 4px;
}
.product__rating {
  display: flex;
}
.product__info {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__Image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  cursor: pointer;
}
.product__Image:hover {
  transform: scale(1.08);
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
